  <!DOCTYPE html>
  <html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="row">
    <div class="column">
      <div>
        <mat-card class="example-card1" >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>New event</mat-card-title>
              <mat-card-subtitle>View upcoming event</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button >View</button>
            </mat-card-actions>
          </mat-card>
    </div>
    </div>
    <div class="column">
      <mat-card class="example-card2" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Past events</mat-card-title>
          <mat-card-subtitle>View past event</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>View</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="example-card3" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Participate</mat-card-title>
          <mat-card-subtitle>Participate in different events</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Participate</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="example-card3" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>View results</mat-card-title>
          <mat-card-subtitle>Winners list for all events</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>View</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </body>
  </html>
