<!DOCTYPE html>
<html>
   <head>
      
      <title>TIAA CSR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<mat-drawer-container>
   <mat-drawer mode= "side" [opened]="sideBarOpen">
       <app-sidebar></app-sidebar>
   </mat-drawer>
   <mat-drawer-content>
    <body style="background-color:rgb(195, 189, 252);">
      <div class=" text-center">
        <img src="assets/stars.png" height=100 width=100>
        <img src="assets/logo1.png" class="circle" height=80 width=80>
       
        <h2 style="color:rgb(255,255,255);"> <b>Welcome to TIAA CSR</b></h2>
        <h3 style="color:rgb(4, 46, 75);"><i>Organize and manage events on a click </i></h3>
        
        <img src="assets/manwork.gif" class="rounded-circle"   height=360 width=600>
        
    </div>
    
  
    
    <br><br><br><br>
  
    <div class="container">
      <div class="img-with-text-below">
      <img src="assets/opinions.jpeg" class="float-left" class="img-fluid" class="rounded-circle" alt="Paris" width="404" height="256" alt="opinions" ALIGN="left" > 
  
      <h2 style="color:rgb(8, 78, 72)" class="text-center">WE HEAR YOU</h2>
      
      <h4 style="color:rgb(16, 206, 9)" class="text-center">because for us,every opinion matters.</h4> 
    </div>
  </div>
    <br><br><br><br><br><br><br><br><br><br>
  
  
    <div class="container">
      <div class="img-with-text-below">
      <img src="assets/what.jpeg" class="float-right" class="img-fluid" class="rounded-circle"  width="374" height="256" alt="opinions" ALIGN="Right" > 
  
      <h2 style="color:rgb(8, 78, 72)" class="text-center">Career Confused?</h2>
      
      <h4 style="color:rgb(16, 206, 9)" class="text-center">Meet our mentors and find quick solutions.</h4> 
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  
  
  
  <div class="row">
    <div class="column">
      <h3 style="color:rgb(8, 78, 72)" class="text-left">No more running<br> behind money</h3>
     <p style="color:rgb(22, 18, 2)" class="text-left">Free consultancy.</p> 
      <img src="assets/manformoney.jpeg" class="rounded-circle" alt="Snow" width="300" height="290">
    </div>
    <div class="column">
      <h2 style="color:rgb(8, 78, 72)" class="text-center">Invest with us</h2>
     <p style="color:rgb(22, 18, 2)" class="text-center">Cryptocurrency is the future</p> 
      <img src="assets/bitcoin.jpeg" class="rounded-circle" alt="Forest" width="300" height="290">
    </div>
    <div class="column">
      <h2 style="color:rgb(8, 78, 72)" class="text-right">Join our events</h2>
     <p style="color:rgb(22, 18, 2)" class="text-right">Participate and win cool prizes</p> 
      <img src="assets/winner.jpeg"class="rounded-circle"  alt="Mountains" width="300" height="290">
    </div>
  </div>
  <br>
    
  
  <br>
  <h3 style="color:rgb(8, 78, 72)">Connect with us </h3>
  <a href="www.facebook.com"><img src="assets/hmm.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
  <a href="www.twitter.com"><img src="assets/twt.jpg" alt="HTML tutorial" style="width:42px;height:42px;"></a>
  <a href="www.linkedin.com"><img src="assets/Linkedin.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
  <a href="www.instagram.com"><img src="assets/insta.jpg" alt="HTML tutorial" style="width:42px;height:42px;"></a>
  <br><br><br><br>
  
  <div class="container">
    <div class="img-with-text-below">
      <h3 style="color:rgb(22, 18, 2)">Make your profile today</h3>
    <img src="assets/profile.jpeg" class="float-left" class="img-fluid" class="rounded-circle"  width="200" height="200"  ALIGN="left" > 
    <h3 style="color:rgb(15, 1, 1)"class="text-right">CSR Company</h3>
    <p style="color:rgb(15,1,1)"class="text-right" > CSR Company is a network of passionate professionals with rich knowledge,<br> grassroots experience and global exposure in the domain of CSR, Sustainability,<br> Advocacy, Media & ICT (Information & Communication Technology) etc. Company CSR <br> is offering its professional online services & expertise to various community <br> centric CSR projects, NGOs, CSOs and Govt. for their ongoing or <br> unnoticed projects in different part of the country and connect them <br> with like minded partners at grassroots level.</p>
    
    
    
  </div>
  </div>
  
  
  
  
  <br><br><br><br>
  <!-- <div class="footer">
    <p>CSR Copyright</p>
  </div> -->

     </body>
      <router-outlet></router-outlet>
  </mat-drawer-content>
     
  </mat-drawer-container>
   

 
</html>
